*{
    box-sizing: border-box;
}

body{
    background-color:hsl(185, 75%, 39%) ;
    margin: 0;
   
  }


#background{
   
    background-image: url('img/bg-pattern-bottom.svg'),url('img/bg-pattern-top.svg');
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    
    
    
}

.card{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
 display: flex;
 flex-direction: column;
align-items: center;
border-radius: 20px;
background-color: #fff;
z-index: 99;
box-shadow:   0 0 20px black;


}



.top{
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.top svg{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}

.person{
    padding-top: 50px;
}

.img{
    position: relative;
}

.img img{
    position: absolute;
    left: 11px;
    bottom: 5px;
    border: 6px solid white;
    border-radius: 50px;
    
    
}






.lightgrey{
    color: hsl(0, 0%, 59%)
}

.stats{
    display: flex;
    flex-direction: row;
    border-top: 2px solid hsl(0, 0%, 59%);
    width: 350px;
    justify-content: space-around;
    text-align: center;
   
   
}

.info .lightgrey{
    font-weight: 400;
  
}


.info{
    text-align: center;
}

.info p{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.info span{
    font-weight: 400;
}

.stats p{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.stats span{
    font-weight: 400;
    font-size: 12px;
}



#background{
    display: flex;
    flex-direction: column;
    align-items: center;
   
   }
   
   #svg1{
       align-self: flex-start;
       
       
   }

  
   
   #svg2{
       align-self: flex-end;
   }
   



